container {
	
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-image: url(../images/45degree_fabric.png) !important;
}

jumbotron {
  border-radius: 25px;
}

h1 {
  text-align: center;
  font-family: 'Ultra', serif;
  
}

.crystal-image {
      width: 150px;
      height: 150px;
}
p {
  font-family: 'Ultra', serif;
  font-size: 16px;
  
}
.instructions {
    border: 5px solid black;
    background: rgb(75, 100, 245);
   
}
.game-stats,
.instructions {
  width: 90%;
  margin: 25px 100px;
}

.number-div {
  border: 5px solid black;
  background: rgb(27, 105, 44);
  height: 100%;
  height: 150px;
}
.win-or-lose-div {
  border: 5px solid black;
  background: rgb(13, 167, 121);
  height: 150px;

}
.score-div {
  border: 5px, solid, black;
  background: rgb(242, 245, 75);
  height: 150px;
}
.crystals {
  margin-top: 20px;
}