body {
	
	font-family: 'Ultra', serif;
	background-image: url(../images/45degree_fabric.png);
}

jumbotron {
  width: 80%;
  border-radius: 20px;
}

h1 {
  text-align: center;
  font-family: 'Ultra', serif;
  
}

.crystal-image {
      width: 150px;
      height: 150px;
}
p {
  font-family: 'Ultra', serif;
  font-size: 16px;
  
}
.instructions {
    border: 3px solid grey;
    border-radius: 15px;
    background: rgb(75, 100, 245);
   
}
.game-stats,
.instructions,
.crystals {
  width: 80%;
  margin: 25px 100px;
}

.number {
  border: 3px solid grey;
  border-radius: 15px;
  background: rgb(27, 105, 44);
  height: 100%;
  height: 170px;
}
.win-or-lose {
  border: 3px solid grey;
  border-radius: 15px;
  background: rgb(13, 167, 121);
  height: 170px;

}
.score {
  border: 3px solid grey;
  border-radius: 15px;
  background: rgb(242, 245, 75);
  height: 170px;
}
.crystals {
  margin-top: 20px;
  border: 3px solid grey;
  border-radius: 15px;
}